{{>layout/header}}

<form action="" method="post">
    <p>id: <input type="text" name="j_username"></p>
    <p>pw: <input type="text" name="j_password"></p>

    <button>LOGIN</button>
</form>

{{>layout/footer}}