{{>layout/header}}

create 페이지
<form action="/create" method="get">
    <p>작성자 : <input type="text" name="writer" value=""></p>
    <p>내용 : <input type="text" name="content" value=""></p>

    <p><button>전송</button></p>
</form>

{{>layout/footer}}